{% comment %}

  Renders a Carousel
  Request:
    - add link in theme:
      <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
      <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    - for loop
  Accepts:null
  Usage:
  {% section 'carousel' %}

{% endcomment %}
{%- capture flickity_options -%}
{
  "prevNextButtons": true,
  "pageDots": false,
  "contain": true,
  "cellAlign": "left",
  "groupCells": true,
  "autoPlay": true,
  "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25},
  "wrapAround": true,
  "freeScroll": true,
  "lazyLoad": 1
}
{%- endcapture -%}

<div class="featured-collection-slider ">
    {% if section.settings.title != blank %}
    <div class="section-header text-center" style="text-align: center;">
      <!-- <h2>{{ section.settings.title | escape }}</h2> -->
      <h2>Carousel</h2>
    </div>
    {% endif %}
    {%- assign collection = collections[section.settings.feature-collection] -%}
    {%- assign product_limit = section.settings.product_count -%}
        <div class="products-carousel js-flickity" data-flickity='{{ flickity_options }}' style="box-shadow: none;">
         <!-- content card-->
           {% for product in collection.products %}
              <div class="carousel-cell">
               <img src="{{ product.featured_image | img_url: 'large'}}" style="height:300px;width:100%" />
              </div> 
            {% endfor %}
       <!-- end content -->
        </div>
</div>

    <style>
        .featured-collection-slider{
          padding-left: 55px;
          padding-right: 55px;
          margin: 0 auto;
          background: var(--color-pink-bg);
        }
        .featured-collection-slider .carousel-cell{
          width:25%;
          padding: 0 15px;
          display: block;
        }
        .flickity-button:disabled{
          pointer-events: all!important;
        }
        .flickity-prev-next-button.next{
          top: -35px !important;
          right:40% !important;
        }

       .flickity-prev-next-button.previous{
          top: -35px !important;
          left:40% !important;
        }
        @media screen and (max-width: 920px){
          .featured-collection-slider{
            padding-left: 15px;
            padding-right: 15px;
          }
          .featured-collection-slider .carousel-cell{
            width:50%;
          }
        }
        @media screen and (max-width: 767px){
          .featured-collection-slider .carousel-cell{
            width:100%;
          }
        }
        </style>
{% schema %}
{
    "name":"Carousel",
    "tag":"section",
    "settings":[
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Featured Collection"
        },
         {
            "type": "collection",
            "id":"feature-collection",
            "label":"Collection"
        },
        {
            "type": "range",
            "id": "product_count",
            "min": 4,
            "max": 12,
            "label": "Number of products to display",
            "default": 4
          }
    ],
    "presets": [
    {
        "name":"Carousel"
    }
   ]
}
{% endschema %}