<div class="custom-video-container" style="position: relative;">
   <div style="">
        <video  width="100%" height="auto" autoplay loop muted>
            <source src="{{section.settings.video_link}}" type="video/mp4"/>
        </video>
   </div>
   <div style="position:absolute; z-index:100;">
    thanh
    {% for items in section.blocks %}
        {{items.settings.title}}
    {% endfor %}
   </div>
  <div style="background: red;">thanh</div>
</div>
{% schema %}
{
    "name":"Custom video",
    "tag":"section",
    "settings":[
        {
            "type": "text",
            "id": "video_link",
            "label": "Video link",
            "default": "https://cdn.shopify.com/s/files/1/0183/5415/files/pexels-taryn-elliott-6051511.mp4?v=1608134933"
        }
    ],
    "blocks":[
    {
        "type":"text_list",
        "name":"text_list",
        "settings":[
            {
                "type": "liquid",
                "id":"title",
                "default":"<p>day la demo</p>",
                "label":"text head"
            }
        ]
    }
],
    "presets":[
        {
            "name":"Custom video" 
        }
    ]
}
{% endschema %}