<div class="custon-slider-container">
    {% assign items = section.settings.collection %}
    <div>
        <div >{{items.title}}</div>
        <div class="slider" id="slider">
        {%- for item in items.products -%}
            <div class="item">
                <div style="width:100%; ">{{ forloop.index}}{{item.title}}</div>
                <img style="width: 100%;" src="{{item.images[0].src | img_url: 'large'}}"/>
            </div>
        {%- endfor -%}
        <div>
            <button id="prev">prev</button>
            <button id="next">next</button>
        </div>
    </div>
    </div>
</div>
<script>
    document.getElementById('next').onclick = () => {
        console.log("thanhkaka")
        var list =  document.querySelectorAll('.item')
        console.log('list',list)
        document.getElementById('slider').appendChild(list[0])
    }
</script>
{% schema %}
{
    "name":"Slider product",
    "tag":"section",
    "settings":[
        {
            "type":"collection",
            "id":"collection",
            "label":"collection"
        },
        {
            "type":"text",
            "id":"text_title",
            "label":"Title",
            "default":"New Arrival"
        },
        {
            "type":"checkbox",
            "id":"show_button_view_all",
            "label":"Show button view all",
            "default":true
        }
    ],
    "presets":[
        {
            "name":"Slider product" 
        }
    ]
}
{% endschema %}