<div class="custom-video-container">
   <div>
        <video  width="100%" heoght="auto" autoplay>
            <source src="{{section.settings.video_link}}"/>
        </video>
   </div>
   <div>
    {% for items in section.blocks.text_list %}
        {{items.settings.title}}
    {% endfor %}
   </div>
  
</div>
{% schema %}
{
    "name":"Custom video",
    "tag":"section",
    "settings":[
        {
            "type": "text",
            "id": "video_link",
            "label": "Video link",
            "default": "https://cdn.shopify.com/s/files/1/0183/5415/files/pexels-taryn-elliott-6051511.mp4?v=1608134933"
        }
    ],
    "blocks":[
    {
        "type":"text_list",
        "name":"text_list",
        "settings":[
            {
                "type":"richtext",
                "id":"title",
                "default":"<p>day la demo</p>",
                "label":"text head"
            }
        ]
    }
],
    "presets":[
        {
            "name":"Custom video" 
        }
    ]
}
{% endschema %}