<div class="custon-slider-container">
day la demo sutom slider
</div>
{% schema %}
{
    "name":"Slider product",
    "tag":"section",
    "settings":[
        {
            "type":"collection",
            "id":"img_slider",
            "label":"image slider"
        },
        {
            "type":"text",
            "id":"text_title",
            "label":"Title",
            "default":"New Arrival"
        },
        {
            "type":"checkbox",
            "id":"show_button_view_all",
            "label":"Show button view all",
            "default":true
        }
    ],
    "presets":[
        {
            "name":"Slider product" 
        }
    ]
}
{% endschema %}