<div class="custon-slider-container">
    kaka
    <div>
        {% for collection in section.settings.collection %}
            <div >{{section.settings.collection.title}}</div>
        {% endfor %}
        <div >{{section.settings.collection.title}}</div>
    </div>
    kiki
</div>
{% schema %}
{
    "name":"Slider product",
    "tag":"section",
    "settings":[
        {
            "type":"collection",
            "id":"collection",
            "label":"collection"
        },
        {
            "type":"text",
            "id":"text_title",
            "label":"Title",
            "default":"New Arrival"
        },
        {
            "type":"checkbox",
            "id":"show_button_view_all",
            "label":"Show button view all",
            "default":true
        }
    ],
    "presets":[
        {
            "name":"Slider product" 
        }
    ]
}
{% endschema %}